.animate-reveal {
    animation: reveal 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-gradient {
    animation: gradient 8s linear infinite;
}

.animate-fade-in {
    animation: fade-in 1s ease-out forwards;
}

.bg-300\% {
    background-size: 300% 100%;
}

.animate-loading-bar {
    animation: loading-bar 1.5s infinite ease-in-out;
}